.about-container {
  text-align: center;
}

.banner {
  margin-bottom: 20px;
}

.banner-image {
  width: 100%;
  border-radius: 25px;
  max-height: 300px;
  margin: 0px auto;
  object-fit: cover;
}

.accordion {
  max-width: 1000px;
  margin: 50px auto;
}

.accordion-item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.accordion-title {
  background-color: #ff6060;
  color: white;
  padding: 15px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
}

.accordion-content {
  padding: 15px;
  color: #222;
  font-size: 18px;
  text-align: left;
  line-height: 2.1rem;
}

.accordion-item.active .accordion-title {
  background-color: #ff6060;
}

.accordion-title span {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .accordion {
    width: 90%;
  }

  .accordion-title {
    font-size: 14px;
  }

  .accordion-content {
    font-size: 12px;
  }
}
