// Variables
$primary-color: #ff6060;
$text-color: #222;
$white-color: #fff;
$border-radius: 10px;
$spacing: 15px;
$font-large: 20px;
$font-small: 18px;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Styles
.about-container {
  text-align: center;

  .banner {
    margin-bottom: 20px;
  }

  .banner-image {
    width: 100%;
    height: 223px;
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    @include flex-center;
  }

  .accordion {
    max-width: 1000px;
    margin: 50px auto;

    &-item {
      margin-bottom: 24px;
      border-radius: $border-radius;
      overflow: hidden;

      &.active .accordion-title {
        background-color: $primary-color;
        border-radius: $border-radius;
      }
    }

    &-title {
      background-color: $primary-color;
      color: $white-color;
      padding: $spacing;
      font-size: $font-large;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .accordion-arrow {
        display: inline-block;
        transition: transform 0.3s ease;

        &.open {
          transform: rotate(180deg);
        }

        svg {
          width: 16px;
          height: 16px;
          stroke: $white-color;
        }
      }
    }

    &-content {
      padding: $spacing;
      color: $text-color;
      font-size: $font-small;
      text-align: left;
      line-height: 2.1rem;
    }
  }
}

// Media Queries
@media screen and (max-width: 768px) {
  .accordion {
    width: 100%;

    .accordion-title {
      font-size: 14px;
    }

    .accordion-content {
      font-size: 12px;
    }
  }
}
